
<!DOCTYPE html>
<html lang="en">
    {%load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="{% static 'Css/style.css' %}">
    <title>Inicio Sesion</title>
    
</head>
<body>
    <section class="form-login">
        <h1> Inicio Sesion</h1>
        <input class="controls" type="text" name="usuario" value="" placeholder="usuario">
        <input class="controls"type="pasword" name = "contrasena" value ="" placeholder="contrasena">
        <input class="buttons" type="submit" name="" value="Ingresar" >
        <p><a href="#">¿Olvidaste tu contraseña?</a></p> 
        <p><a class="boton1" href="http://localhost:8000/registros/">Registrate</a></p> 
    </section>
    <div class="foto">
 		<img class="forma"src="{% static 'Imagenes/salud.png' %}">
	</div>



    
</body>

</html>



